/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Añadir márgenes internos */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}


/* Estilos específicos para la página de bio */
section p {
  font-style: italic;
}

section ul {
  list-style-type: disc;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-text {
  flex: 1;
}

.profile-image {
  margin-left: 20px; /* Puedes ajustar este valor según tus necesidades */
}

.justify-text {
  text-align: justify;
}

/* Estilos adicionales según tus preferencias */
